@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow-x: hidden ;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
*::-webkit-scrollbar {
    width: 6px;
  }
*::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #5D22B2;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  